.container {
  display: flex;
  gap: 12px;

  .avatars {
    display: flex;
    position: relative;

    .avatarWrapper {
      position: relative;

      &:not(:first-child) {
        margin-left: -10px; // Смещение для второго и третьего
      }
    }
  }
}
