@use "../../../styles/base/typography" as typo;
@use "../../../styles/abstract" as styles;

.authCard {
  width: 378px;
  height: 504px;

  margin-top: 36px;

  border: 1px solid var(--border-color);
  border-radius: 2px;

  padding: 24px;

  background-color: styles.palette('dark', 500);
}

.form {
  width: 100%;

}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 36px;
}


.fargotPasswordLink {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  @include typo.text-regular-14;
  text-align: right;
  color: styles.palette('light', 900);
}


.helperText {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 18px;
}

.signUpLink{
  display: block;
  @include typo.text-regular-16;
  color: styles.palette('accent', 500);
  text-align: center;
}
