@use "../../../styles/abstract" as styles;


.scrollContainer {
  overflow: auto;
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: styles.palette("dark", 300) transparent;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: styles.palette("dark", 300);
    border-radius: 3px;
    transition: background 0.2s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: styles.palette("light", 900);
  }
}