@use '../../../styles/base/typography' as typo;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .first {
      display: flex;
      align-items: center;
      gap: 29px;
    }
    .icons {
      display: flex;
      gap: 20px;
    }
  }

  .slider {
    height: 504px;
    width: 100%;
  }

  .time {
    @include typo.text-small;
    color: var(--color-small-text);
    outline: none;
  }

  .publish {
    display: flex;
    align-items: start;
    gap: 12px;

    & > :not(:first-child) {
      max-width: 70px;
    }
  }
}
