.selectContainer {
    position: relative;
    cursor: pointer;
    max-width: 100%;
    background-color: #171717;
}

.selectContainer:focus-visible {
    outline: 2px solid #397df6;
    outline-offset: 2px;
    border-radius: 2px;
}

.selectBox {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 6px 12px;
    border: 1px solid #4c4c4c;
    border-radius: 2px;
    background-color: inherit;
    transition: all 0.3s ease;
    position: relative;
}

.selectBox:hover {
    border-color: #fff;
}

.selectBox.open {
    border-color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectBox.disabled {
    background-color: inherit;
    color: #4c4c4c;
    cursor: not-allowed;
    border-color: #4c4c4c;
}

.selectBox.disabled:hover {
    border-color: #4c4c4c;
    box-shadow: none;
    transform: none;
}

/*.selectBox:focus {*/
/*    outline: 2px solid #397df6;*/
/*    outline-offset: 2px;*/
/*}*/

/*.selectBox:focus-visible {*/
/*    outline: 2px solid #397df6;*/
/*    outline-offset: 2px;*/
/*}*/

.selectValue {
    font-size: inherit;
    color: inherit;
}

.selectBox.disabled .selectValue {
    color: #4c4c4c;
}

.selectArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: transform 0.3s ease;
}

.selectBox.open .selectArrow {
    transform: rotate(180deg);
}

.selectDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: inherit;
    border: 1px solid #fff;
    border-top: none;
    border-radius: 0 0 2px 2px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.selectOption {
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.selectOption:hover {
    background-color: #333;
    color: #397df6;
    transform: translateX(2px);
}
