.scrollContainer {
  overflow: auto;
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
    transition: background 0.2s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #8d9094;
  }
}