@use '../../../styles/abstract/' as styles;

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 84px 64px 24px 244px; /*это я поправлю при добавлении стилей для layout*/
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 36px;

  & > :first-child {
    display: flex;
    justify-content: space-between;
    background-color: styles.palette('dark', 500);
    border: 1px solid styles.palette('dark', 300);
    border-radius: 2px;
    padding: 12px 24px;

    & > :first-child {
      text-align: center;
      line-height: 48px;
    }

    & > :nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: styles.palette('dark', 700);
      border: 1px solid styles.palette('dark', 300);
      border-radius: 2px;
      padding: 8px 10px;

      & span {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;

        &:not(:last-child) {
          border-right: 1px solid styles.palette('dark', 300);
        }
      }
    }
  }

  & > :nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
