.menuBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 64px;
  padding: 12px 0;
}

.buttonsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-left: 36px;
}
