@use '../../../../../styles/abstract' as styles;
@use '../../../../../styles/base/typography' as typo;

.accountManagementContainer {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.accountManagementTitle {
  @include typo.text-bold-16;
  line-height: 1.5;
  margin-bottom: 6px;
}

.accountManagementContent {
  border: 1px solid styles.palette('dark', 300);
  border-radius: 2px;
  background: styles.palette('dark', 500);
  padding: 12px 18px;

}

.currentSubscriptionBlock {
  display: flex;
  gap: 45px;
  margin-bottom: 22px;
}

.currentSubscriptionContent {

}

.currentSubscriptionTitle {
  color: styles.palette('light', 900);
  @include typo.text-regular-14;
  margin-bottom: 12px;
}

.currentSubscriptionDate {
  @include typo.text-regular-14;
  font-weight: 600;
}

.paymentBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 54px;
}

.paymentBlock span {
  @include typo.text-regular-14;
}