@use "../../../styles/abstract" as styles;

.iconButton {
  position: relative;
  border: none;
  background: transparent;
  color: styles.palette("light", 100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconButtonDisabled {
  color: styles.palette("dark", 100);
  &:hover {
    cursor: auto;
  }
}