@use '../../../../../styles/base/typography' as typo;


.description {
  margin: 18px 0;
  padding: 0 24px;
  min-height: 70px;
  @include typo.text-regular-16;
}


.buttonsContainer {
  padding: 0 24px;
  align-items: center;
  display: flex;
  margin-bottom: 36px;
  & button {
    width: 100% !important;;
  }
}