@use "../../../styles/base/typography" as typo;
@use '../../../styles/abstract' as styles;


.ForgotPasswordPage {
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 378px;
  border: 1px solid styles.palette('dark', 300);
  border-radius: 2px;
  align-items: center;
}

.title {
  @include typo.h1;
  margin-bottom: 37px;
}

.text {
  @include typo.text-regular-14;
  color: styles.palette('light', 900);
  margin: 7px 0 17px 0;
}

.linkContainer {
  padding: 30px 0;
}

.singInLink{
  color: styles.palette('accent', 500);
  @include typo.text-bold-16;
  font-weight: 600;
  margin: 30px 0;
}