@use "../../../styles/base/typography" as typo;
@use '../../../styles/abstract/index' as styles;


.CreateNewPasswordPage {
  margin: 60px auto;
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 378px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  align-items: center;
}

.title {
  @include typo.h1;
  margin-bottom: 37px;
}

.inputsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.text {
  @include typo.text-regular-14;
  color: styles.palette('light', 900);
  margin: 31px 0 41px 0;
}


