@use '../../../styles/abstract' as styles;
@use '../../../styles/base/typography' as typo;

.textAreaContainer {
  width: 284px;
  position: relative;
}

.label {
  @include typo.text-regular-14;
  color: styles.palette('light', 900);
}

.textArea {
  width: 100%;
  height: 84px;
  display: block;

  padding: 4px 10px;

  @include styles.border-style;
  background: transparent;

  @include typo.text-regular-16;
  letter-spacing: 0;
  color: styles.palette('light', 100);
  transition:
    border-color 0.2s ease,
    outline-color 0.2s ease;

  resize: none;
}

.errorTextArea {
  @include styles.error-input;
}

.errorText {
  position: absolute;
  top: calc(100% + 2px);

  width: 100%;
  @include typo.text-regular-14;
  color: styles.palette('danger', 500);

  word-break: break-all;
}
