@use "../abstract";
@use "./themes";

:root {
  --font-family-base: abstract.$font-family-base;
  --background: #{abstract.palette("light", 700)};
  --foreground: #{abstract.palette("light", 100)};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: abstract.$font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
  color: var(--color-text);
  transition: background 0.3s ease, color 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}